header {
    background: linear-gradient(rgba(59, 55, 53, 0.5),rgba(59, 55, 53, 0.5)), url(../public/images/header-bg.jpg);
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}
